body{
    height: 100%;
}
html{
    height: 100%;
}

#wrapper{
    height: 100%;
}

#sidenav {
    background-color:#BBB5BD;
  }

.sidenav-header {
    width: 100%;
    background: #610345;
    color: #F64C72;
    border-bottom: 5px solid #F64C72 ;
  }

.sidenav-header #mdlogo{
    font-size: 30px;
    margin-left:20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.sidenav-header #restaurant-name{
    font-size: 18px;
    margin-left:20px;
    margin-top: 10px;
    margin-bottom: 20px;
}


  
  /* The navigation menu links */
.sidenav-content a{
    padding: 20px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav-content a:hover {
font-weight: bolder;
}


.collapsible.collapse.show,
.collapsible.collapse.show + .col {
    transition: .18s ease;
    transform: translate(0,0,0);
    left: 0;
}

.collapsible.collapse,
.collapsible.collapsing,
.collapsible.collapsing + #sidenav {
    transition: .18s ease;
    transform: translate(-25%,0,0);
    z-index: 1050;
    left: -25%;
}

.navbar-default{
    background-color: #610345;
}

.fa-user-circle{
    color: #F64C72;
}

.content{
    display:flex;
    justify-content: center;
    align-items: center;
}

.day-selector{
    display:flex;
    justify-content: left;
    align-items: left;
    padding-left: 18px;
    width: max-content;
}

.center-text{
    text-align: center;
    font-size: 60px;
    color: #610345;
    font-family: 'Dancing Script', cursive;
}

.meal-grid{
    margin-left: 400px;
}

/* referred to w3schools.com for card shadow and transiton */

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-card{
    overflow: hidden;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 500px;
}

.product-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prof-pic{
    width:50px;
    height: 50px;
}

.list-of-fields{
    margin-left: 100px;
}

#save{
    margin-left: 200px;
}

/* Trying slide in animations */
/* #sidenav .sidenav-content .sidenav-header{
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
} */

#sidenav .sidenav-header .sidenav-content{
    animation: slidein 3s;
}