.list-of-fields{
    margin-left: 100px;
}

#save{
    margin-left: 200px;
}

.center-text{
    text-align: center;
    font-size: 60px;
    color: #610345;
    font-family: 'Dancing Script', cursive;
}